<div class="grid">
	<div class="col-12">
		
			<!-- <h4 style="text-align: left; font-size: 25px"> User Management</h4> -->
			<p-table #dt1 [value]="userList" dataKey="id" [rows]="10" 
			[loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true"
			 [globalFilterFields]="['FirstName','RoleName','Email']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex  flex-column sm:flex-row">
						<div class="col-md-6">
							<h4 class="texta textab" style="font-size: 25px;font-weight: bold">User Management</h4>
						</div>
						
						<div class="col-md-6" >
							<button pButton label="Clear" class="p-button-outlined mb-2" 
							style="border-color: #F0A1F9; color:#6e087a; float: right; padding: 5px 5px;" (click)="clear(dt1)"></button>
											
							<span class="p-input-icon-left mb-2" style="float: inline-end;">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
							</span>
						</div>
						
					</div>
					<div class="row">
						<div class="col-md-5"></div>
						<div class="col-md-5 setview" >
							<label class="p-input-icon-left mb-2 checkboxsize viewlabel" for="address" >Show All</label>
							<p-checkbox  (onChange)="change($event)" class="form-check-input p-input-icon-left mb-2 checkboxsize viewcheckbox"   [binary]="true"  [(ngModel)]="checked"  >  </p-checkbox>
                           
							
						</div>
						<div class="col-md-2 col3">
							<button style="width: 4cm; background-color:  #F0A1F9;color: rgb(32, 32, 32);border: none;border-radius: 6px;padding: 5px;
										float: right; "
									   (click)="Add()" >Add User </button>
							
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-md-3">
							<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" 
							style="border-color: #0068a3; color: #0068a3;" (click)="clear(dt1)"></button>
						</div>
						<div class="col-md-2">
							
						</div>
						<div class="col-md-5 setview" >
							<label class="p-input-icon-left mb-2 checkboxsize viewlabel" for="address" >Show Residents</label>
							<p-checkbox  (onChange)="change($event)" class="form-check-input p-input-icon-left mb-2 checkboxsize viewcheckbox"   [binary]="true"  [(ngModel)]="checked"  >  </p-checkbox>
                           
							&nbsp;<span class="p-input-icon-left mb-2">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
							</span>
						</div>
						<div class="col-md-2">
							<span class="p-input-icon-left mb-2 setbutton" >
								<button class="btn btn-primary w-full" style="background-color: #0068a3;" (click)="Add()" *ngIf="!isResident">Add User </button>
							</span>
						</div>
					</div> -->
                    <!-- <div class="flex justify-content-between flex-column sm:flex-row">
                        <span></span>
                        <span class="p-input-icon-left mb-2">
                            <button class="btn btn-primary w-full" style="background-color: #0068a3;" (click)="Add()" *ngIf="!isResident">Add User </button>
						</span>
                    </div>
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" 
						style="border-color: #0068a3; color: #0068a3;" (click)="clear(dt1)"></button>
						<label class="p-input-icon-left mb-2" for="address">Is Active</label>
                                <input pInputText type="checkbox" class="form-check-input p-input-icon-left mb-2" id="Check1"  >
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div> -->
				</ng-template>
				<ng-template pTemplate="header">
					<tr style="    border-color: inherit;
					border-width: 1px;
					border-style: double;">
						<th style="min-width: 12rem;background-color:  #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="Name">
							<div class="flex justify-content-between align-items-center">
								Name
								<p-sortIcon field="Name" style="padding-left: 3px;"></p-sortIcon>
							</div>
						</th>
                        
                        <th style="min-width: 12rem;background-color:  #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="Email">
							<div class="flex justify-content-between align-items-center">
								Email
								<p-sortIcon field="Email" style="padding-left: 3px;"></p-sortIcon>
							</div>
						</th>
						<th style="min-width: 12rem;background-color:  #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="RoleName">
							<div class="flex justify-content-between align-items-center">
								Role
								<p-sortIcon field="RoleName" style="padding-left: 3px;"></p-sortIcon>
							</div>
						</th>
                        <th style="min-width: 12rem;background-color:  #F0A1F9;color: rgb(32, 32, 32);" *ngIf="!isResident">
							<div class="flex justify-content-between align-items-center">
								Action
								
							</div>
						</th>						
					</tr>
				</ng-template>
				<ng-template pTemplate="body"  let-userList>
					<tr style="    border-color: inherit;
					border-width: 1px;
					border-style: double;" >
						<td>
							
							{{userList.Name}}
						</td>
                        <td>
							{{userList.Email}}
						</td>
                        <td>
							{{userList.RoleName}}
						</td>
                        <td *ngIf="!isResident">
							<button pButton  class="btn btn-warning" icon="pi pi-pencil" (click)="OnEdit(userList.Id)" 
							style="display: inline-flex; padding: 3px; color: white;" title="Edit"></button>

							&nbsp;
							<!-- <button pButton class="btn btn-danger " icon="pi pi-trash" (click)="DeleteUser(userList.Id)" style="display: inline-flex;padding: 3px;"></button> -->
							<button pButton *ngIf="userList.IsActive && this.loggedInUserId != userList.Id" class="btn btn-danger btn-sm" title="Delete"
							  icon="pi pi-trash" (click)="DeleteUser(userList.Id)" style="display: inline-flex;padding: 3px;" >                     
                    		</button>&nbsp;
							<button pButton	*ngIf="!userList.IsActive" class="btn btn-success btn-sm" title="Activate"
								(click)="ActivateUser(userList.Id)" icon="pi pi-pencil" >
                   		    </button>
<!-- 							
							<p-toggleButton *ngIf="userList.IsActive" [(ngModel)]="userList.IsActive" (onChange)="ActivateUser(userList.Id)" onLabel="Delete" offLabel="Active" style="height: 30px;"></p-toggleButton> -->
						</td>
						 
					</tr>
				</ng-template>				
    		</p-table>
		
	</div>
</div>