<div class="grid">
	<div class="col-12">
		<div class="card">
			
			
			<p-table #dt1 [value]="inspectionList" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" 
			[globalFilterFields]="['InspectionOrder','InspectionDate']" responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					
					
					<div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" 
						style="border-color: #F0A1F9; color:#6e087a" (click)="clear(dt1)"></button>					
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div>
					<!-- <div class="row">						
						<div class="col-md-3">
							<button style="width: 2cm; background-color: #0d6efd;color: white;border: none;border-radius: 6px;padding: 5px;margin-top: 20px " >
								MAP</button>
						</div>
						
							
						
					</div>	 -->
				</ng-template>
				<ng-template pTemplate="header">	
								
					
    
					<tr style="    border-color: inherit;
					border-width: 1px;
					border-style: double;"><th style="min-width: 9rem; background-color:  #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="FirstName" > 
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important; ">
								First Name<p-sortIcon field="FirstName" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th> 
						<th style="min-width: 9rem; background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="LastName" > 
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important; ">
								Last Name<p-sortIcon field="LastName" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th> 
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="AddressLine1"> 
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Address<p-sortIcon field="AddressLine1" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th> 
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="InspectionType1">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Inspection1<p-sortIcon field="Inspection1" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="InspectionType2">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Inspection2<p-sortIcon field="Inspection2" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="InspectionType3">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Inspection3<p-sortIcon field="Inspection3" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="InspectionType4">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Inspection4<p-sortIcon field="Inspection4" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="PermitNo">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Permit#<p-sortIcon field="PermitNo" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="InspectionDate">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Date<p-sortIcon field="Date" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem;background-color:  #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="Inspector">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Inspector<p-sortIcon field="Inspector" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem;background-color: #F0A1F9;color: rgb(32, 32, 32);" pSortableColumn="AmPm">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								AM/PM<p-sortIcon field="AmPM" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>	
						
						
						<!-- <th style="min-width: 9rem" pSortableColumn="Acknlowledge" *ngIf="this.userRole !== 'Resident'">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Acknlowledge<p-sortIcon field="Acknlowledge" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th>
						<th style="min-width: 9rem" pSortableColumn="Reject" *ngIf="this.userRole !== 'Resident'">
							<div class="flex justify-content-between align-items-center" style="display: inline-flex !important;">
								Reject<p-sortIcon field="Reject" style="padding-left: 3px;"></p-sortIcon>								
							</div>
						</th> -->
						
									

					</tr>
				</ng-template>
                <ng-template pTemplate="body" let-inspectionList >
					<tr style="    border-color: inherit;
					border-width: 1px;
					border-style: double;">
						<td>
							{{inspectionList.FirstName}}
						</td>
						<td>
							{{inspectionList.LastName}}
						</td>
						<td>
							
							{{inspectionList.AddressLine1}}
						</td>
						<td>
							{{inspectionList.InspectionType1}}
						</td>
						<td>
							{{inspectionList.InspectionType2 }}
						</td>
						<td>
							{{inspectionList.InspectionType3 }}
						</td>
						<td>
							{{inspectionList.InspectionType4}}
						</td>
                        <td>
							{{inspectionList.PermitNo }}
						</td>
						<td>
							{{inspectionList.InspectionDate | date: 'MM/dd/yyyy'}}
						</td>
						<td>
							{{inspectionList.InspectorName }}
						</td>
						<td>
							{{inspectionList.AmPm }}
						</td>
						
						<!-- <td *ngIf="this.userRole !== 'Resident'">
                            <input class="form-check-input " type="checkbox" value="" id="checkbox" (change)="isAck($event,inspectionList.Id)"
							  [checked]="inspectionList.Acknowledge == true">
                              {{
                              inspectionList.Acknlowledge == true?"Yes": "No"}}
                        </td>
						<td *ngIf="this.userRole !== 'Resident'"><input class="form-check-input " type="checkbox" value="" id="checkbox" 
								[checked]="inspectionList.IsRejected == true" (click)="display=true; sendReject($event,inspectionList.Id)"
                                >
                                {{
                                    inspectionList.IsRejected == true?"Yes": "No"}}
						</td>		 -->
						
				
					</tr>
				</ng-template>
			
				
    		</p-table>
		</div>

	</div>
</div>

<p-dialog header="Reject " [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
	<p class="line-height-3 m-0">
		<Label>Comments : </Label><br>
		<textarea rows="4" cols="55" [(ngModel)] = "inspectionModel.RejectionComments" pInputTextarea></textarea>
	</p>
	<ng-template pTemplate="footer">
			<button pButton icon="pi pi-check" (click)="rejectValue()" label="Save" class="p-button-outlined"></button>
	</ng-template>
</p-dialog>

