<div class="grid">
	<div class="col-12">
		
			<!-- <h4 style="text-align: left;font-size: 25px">Inspection Types</h4> -->
			<p-table #dt1 [value]="notice" dataKey="id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" 
			 responsiveLayout="scroll">
				<ng-template pTemplate="caption">
					<div class="flex  flex-column sm:flex-row">
						<div class="col-md-6">
							<h4 class="texta textab" style="font-size: 25px;font-weight: bold; text-align: end;">Notice</h4>
						</div>
						
						<!-- <div class="col-md-6" >
							<button pButton label="Clear" class="p-button-outlined mb-2" 
							style="border-color:#F0A1F9; color: #6e087a; float: right;padding: 5px 5px;" (click)="clear(dt1)"></button>
											
							<span class="p-input-icon-left mb-2" style="float: inline-end;">
								<i class="pi pi-search"></i>
								<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
							</span>
						</div> -->
						
					</div>
					<!-- <div class="row">
						<div class="col-md-9"></div>
						<div class="col-md-3 col3">
							<button style="width: 4cm; background-color: #F0A1F9;color: rgb(22, 22, 21);border: none;border-radius: 6px;padding: 5px;
										float: right; "
									   (click)="Add()" >Add Notice </button>
							
						</div>
					</div> -->
					<!-- <div class="flex justify-content-between flex-column sm:flex-row">
                        <span></span>
                        <span class="p-input-icon-left mb-2">
                            <button class="btn btn-primary w-full" style="background-color: #0068a3;" (click)="Add()" >Add Inspection Type </button>
						</span>
                    </div> -->
					<!-- <div class="flex justify-content-between flex-column sm:flex-row">
						<button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" 
							style="border-color: #0068a3;color: #0068a3;" 	(click)="clear(dt1)"></button>
						
						<span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
						</span>
					</div> -->
				</ng-template>
				<ng-template pTemplate="header">
					<tr style="    border-color: inherit;
					border-width: 1px;
					border-style: double;">
						<th style="min-width: 12rem;background-color: #F0A1F9;color: rgb(22, 22, 21);" pSortableColumn="Notice1">
							<div class="flex justify-content-between align-items-center">
								Notice
								<!-- <p-sortIcon field="notice" style="padding-left: 3px;"></p-sortIcon> -->
							</div>
						</th>

                        <th style="min-width: 12rem;background-color:  #F0A1F9;color: rgb(22, 22, 21);">
							<div class="flex justify-content-between align-items-center">
								Action
								
							</div>
						</th>
					
		
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-notice >
				
                    <tr style="    border-color: inherit;
					border-width: 1px;
					border-style: double;">
                        <td>{{notice.Notice1}}</td>                       
                        <td>
							<i class="btn btn-warning" class="pi pi-file-edit"
							style="color: #306235; font-size: 20px; cursor: pointer;" (click)="OnEdit(notice.Id)"></i>	
							<!-- <button pButton  class="btn btn-warning" icon="pi pi-pencil" (click)="OnEdit(notice.Id)" style="display: inline-flex; padding: 3px; color: white;"></button>					 -->

                            <!-- <button class="btn btn-warning" style="margin-right: 10px;" (click)="OnEdit(notice.Id)">Edit</button>  -->
                            <!-- &nbsp;<button pButton class="btn btn-danger " icon="pi pi-trash" (click)="deleteNotice(notice.Id)" style="display: inline-flex;padding: 3px;"></button> -->
							 <!-- <button class="btn btn-danger " (click)="deleteInspectionType(notice.Id)">Delete</button> -->
                        </td>
                      </tr>
				</ng-template>
				
    		</p-table>
		

	</div>
</div>