 
  <div class="grid">
    <div class="col-12">
        <div class="card ">
            <h4 style="padding-top: 0%;
            padding-bottom: 15px;          
          color: #333; font-size: 25px;font-weight: bold" >Notice</h4>
          <div class="card-body">
            <div class="p-fluid p-formgrid grid">
                <div class="col-12">
                    <div >                        
                        <div class="p-fluid p-formgrid grid">
                            <div class="field col-12 md:col-6">
                                <label for="Type">Notice</label>
                                <input pInputText id="Type" type="text" [(ngModel)]="notice.Notice1" required/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer" style="text-align: center;">
                <button pButton pRipple label="Submit" class="p-3 text-xl" style=" background-color: #F0A1F9;"  (click)="saveNotice()"></button> &nbsp;
                <button pButton pRipple label="Close" class="p-3 text-xl" style=" background-color: rgb(122, 121, 119);" 
                     (click)="close()"></button>
            </div>
        </div>       
    </div>
</div>

