<style>
    .bgcolor{
        background-color: #6e087a ;
    }
</style>
<div class="layout-topbar bgcolor">
    <a class="layout-topbar-logo" [routerLink]="'/app/inspectionformlist'">
        <img src="assets/layout/images/cityLogo.png" alt="logo">    
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>&nbsp;
    <span class="p-link showlabel" style="color: white;font-weight: bold; font-size: 20px;">Inspection Tracking System</span>
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
         <!--<button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>-->
        <span class="p-link showlabel" style="color: white;font-weight: bold; font-size: 14px;">Login as: </span>
        <span class="p-link showlabel" style="color: white; font-size: 14px;">{{this.userstorage.role}}</span>
        &nbsp;
        <span class="p-link showlabel" style="color: white;font-weight: bold; font-size: 14px;"  [routerLink]="''">Logout</span>
<!--         
        <button class="hideicon p-link layout-topbar-button "  [routerLink]="''">
            <i class="pi pi-user"></i>
            <span>Logout</span>
        </button> -->
        <!--<button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button> -->
    </div>
</div>